@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #E4E9F2;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 600px;
    height: 450px;
    margin: auto;
    border-radius: 20px;
}

article > div#resultado {
    display: inline-block;
    background-color: #5941F2;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    text-align: center;
    background-image: linear-gradient(to top, #5941F2, #3E38F2, #7D79F2);
}

article > div#resultado h1 {
    color: #d6c9ffda;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.2em;
}

article > div#resultado h2 {
    color: white;
    margin-top: 70px;
    font-size: 3.5em;
}

article > div#resultado .numero{
    color: #d6c9ffc4;
    font-size: 1em;
}

article > div#resultado h3 {
    color: white;
    margin-top: 90px;
    font-size: 1.5em;
}

article > div#resultado p {
    color: #d6c9ff;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    
}

article > div#resumo {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: white;
    text-align: center;
}

article > div#resumo h1 {
    color: rgba(0, 0, 0, 0.808);
    text-align: left;
    padding: 10px 0px 0px 20px;
    margin-top: 20px;
    font-size: 1.2em;
}

article > div#resumo p {
    font-weight: bold;
}

.reaçao,.memoria,.verbal,.visual {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-left: 20px;
   gap: 10px;
   padding: 10px;
   width: 240px;
   border-radius: 10px;
   margin-top: 30px;
}

.por {
    margin-left: 70px;
    color: black;
    font-weight: bold;
}

span{
    opacity: 25%;
    font-weight: bold;
}

.reaçao {
    background-color: #FFF6F7;
    color: #C97D7F;
}

.memoria {
    background-color: #FFFAF4;
    color: #E4B55B;
}

.verbal {
    background-color: #F2FDF9;
    color: #1BA583;
}

.visual {
    background-color: #F4F4FE;
    color: #1721A7;
}

div#botao > a {
    display: inline-block;
    background-color: #313E59;
    color: white;
    padding: 10px;
    margin-top: 30px;
    text-decoration: none;
    border: 1px solid black;
    width: 200px;
    border-radius: 20px
}



